{% extends "layout.html" %}

{% block title %}
  Quote
{% endblock %}

{% block main %}
   <h2>Get a stock Quote</h2>
   <form action="{{url_for('quote')}}" method="POST">
        <label for="symbol">Symbol</label>
        <input type="text" name="symbol" id="symbol" placeholder="symbol">
        <button type="submit">Get Quote</button>
   </form>
      {% if quote %}
        <h3>A share of {{ quote['symbol'] }}</h3>
        <p>price: {{ quote['price']|usd}}</p>
      {% endif %}
{% endblock %}
